* {
  margin: 0;
  /* box-sizing: border-box; */
  padding: 0;
  max-width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  background-color: #4b5563;

  padding: 1rem;
}

.logo {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
}

img {
  max-width: 100%;
  height: 20rem;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.non-bullet {
  list-style: none;
  display: flex;
}

hr {
  width: 50%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}

.nav-brand {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}
.subtitle {
  font-weight: lighter;
  font-style: italic;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}

.hidden {
  visibility: hidden;
}

.body-container {
  /* height: 80vh; */
}

.general-section {
  padding: 3rem;
}

.service_bg {
  background-color: #bfdbfe;
}

.content {
  width: 90%;
  line-height: 2rem;
  font-size: 1.4rem;
}

.works_bg {
  background-color: #a7f3d0;
  border-top: 1px solid #bfdbfe;
}
.about {
  background-color: #9ca3af;
}

.header {
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 3rem;
}

.service_tiles {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
}

.services {
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.services a {
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  background-color: #6b7280;
  color: white;
  padding: 2rem;
  font-size: 1.3rem;
}

.services a:hover {
  background-color: crimson;
}

@media (min-width: 600px) {
  .hidden {
    visibility: visible;
  }
  .list-inline {
    display: flex;
    flex-direction: row;
  }

  .list-inline a {
    display: flex;
    flex: 1;
    text-decoration: none;
    border-radius: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #6b7280;
    color: white;
    margin-right: 2rem;
  }

  .list-inline a:hover {
    background-color: #9ca3af;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
  }
  .content {
    width: 70%;
  }
}

.news-letter {
  background-color: #9ca3af;
}
.news-letter header {
  margin: 3rem;
  margin-bottom: 2rem;
}
.newsletter-header {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
}

.input_control {
  margin: 1rem;
  text-align: center;
}

.email-input {
  width: 30%;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-style: italic;
  outline: none;
}
.hop-in {
  display: block;
  margin: auto;
  width: 10%;
  padding: 1rem;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  border-radius: 20px;
  border: none;
  background-color: #4b5563;
  cursor: pointer;
  color: white;
  font-style: italic;
  font-size: 1.5rem;
}

input:focus {
  border: 2px solid black;
  border-radius: 30px;
}
